* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  :root {
      --hue-neutral: 200;
      --hue-wrong: 0;
      --hue-correct: 145;
  }

  /* HEADER STYLE SECTION */
header {
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: #11735B;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    border-bottom: double #AF826D 10px;
}
header h1 {
    font-weight: lighter;
    align-items: center;
    font-size: 6vw;
    margin: 40px; 
    color: #fff5ee;
    justify-content: space-between;
}

header h2, h3 {
    font-weight: lighter;
    font-size: 2vw;
    margin: 40px; 
    color: #fff5ee;
    justify-content: space-between;
}

  body {
      padding: 0;
      margin: 0;
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: #fff5ee;
  }

  body.correct { 
     color: #fff5ee;
  }

  body.wrong {
      --hue: var(--hue-wrong)
  }

  .container {
      width: 800px;
      max-width: 80%;
      background-color: #11735B; 
      border-radius: 5px;
      padding: 10px;
  }


  .btn-grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 10px;
      margin: 20px 0;
  }

  .btn {
      color: #fff5ee;
      color: #fff5ee;
      border-radius: 5px;
      padding: 15px;
      color: #AF826D;
      outline: none;
  }

  .btn:hover {
      border-color: #9B8346;
  }

  .btn.correct {
    color: #AF826D;
  }


.btn.wrong {
    --hue: var(--hue-wrong;)
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
    float: right;
}

.question {
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 40px; 
    color: #fff5ee;

}