* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

/* COLORS */
 :root {
    --primary: #ECC3A8;
    --secondary: #906E55;
    --tertiary: #D77A76;
}

  /* HEADER STYLE SECTION */
header {
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    border-bottom: double var(--tertiary) 10px;
}

header h1 {
    font-weight: lighter;
    align-items: center;
    font-size: 4.2vw;
    margin: 40px; 
    color: var(--primary);
    justify-content: space-between;
}

header h2, h3 {
    font-weight: lighter;
    font-size: 1.75vw;
    margin: 40px; 
    color: var(--primary);
    justify-content: space-between;
}

  /* QUIZ BODY STYLE SECTION */
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
  }

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
 
.container {
    width: 800px;
    max-width: 80%;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px;
    margin: 200px 0px 10px 10px;
}

.answer-status {
    color: var(--primary);
    font-weight: lighter;
    font-style: italic;
    text-align: center
}

.hide {
    display: none;
    float: right;
}

.question {
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin: 40px; 
    color: var(--primary);
}

/* BUTTON STYLES */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

.btn {
    color: var(--primary);
    color: var(--primary);
    border-radius: 5px;
    padding: 15px;
    color: var(--tertiary);
    outline: none;
  }

.btn:hover {
    border-color: var(--tertiary);
    border: solid 5px;
  }

.score:hover {
  color: var(--tertiary);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* SCORE STYLES */
.initial-text-box, .initials-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 15px auto;
}

.initial-entry, .score-title {
    font-weight: lighter;
    font-size: 3vw;
    margin: 40px; 
    color: var(--primary);
    justify-content: space-between;
}

.scores, {
    font-weight: lighter;
    font-size: 2vw;
    margin: 40px; 
    color: var(--primary);
    justify-content: space-between;

}

